<!DOCTYPE html>
<html lang="en">
<head>
    {% include "djangoapp/includes/html_head.html" with title="Dealership Review" %}
</head>
    <body>
    <div class="container">
    <!--Add a nav bar here -->
    {% include "djangoapp/includes/navigator.html" %}  
    <!--Add a dealer table here -->
        <div class="container-fluid">
            <div class="container-fluid">
                <p class="lead">Welcome to Best Cars dealership, 
                                home to the best cars in North America. 
                                We sell domestic and imported cars at reasonable prices.
                </p>
                <p>
                    We have a strong and committed sales staff with many years of experience satisfying our customers' needs. 
                    Feel free to browse our inventory online, request more information about vehicles, set up a test drive or inquire about financing!
                    We look forward to serving you!
                </p>
        </div>
    </div>
</body>
</html>