<!DOCTYPE html>
<html lang="en">
<head>
    {% include "djangoapp/includes/html_head.html" with title="Contact Us" %}
</head>
    <body>
    <div class="container">
        <!--Add a nav bar here -->
        {% include "djangoapp/includes/navigator.html" %}  
        <div class="container-fluid">
            <p class="lead">Contact the Best Cars dealership.</p>
            <p>
                <div class="card" >
                    
                    <div class="card-body">
                        <h5 class="card-title">ABCDE Auto Mall</h5>
                        <p class="card-text">2500 Highway 34 West</p>
                        <p class="card-text">Town, NY 55555</p>

                        <ul class="list-group list-group-flush">
                            <li>Sales: 123-123-4567</li>
                            <li>Service: 123-123-4567</li>
                            <li>Parts: 123-123-4567</li>
                        </ul>
                    </div>
                </div>
            </p>
        </div>
    </div>
</body>
</html>