<!DOCTYPE html>
<html lang="en">
<head>
    {% include "djangoapp/includes/html_head.html" with title='Dealership Review' %}
</head>
<body>
    <!--Add a nav bar here -->
    {% include "djangoapp/includes/navigator.html" with dealer_id=dealership.id %}        
    <!-- Add reviews as cards -->
    <div class="container-fluid">
        <p class="lead">Reviews for {{ dealership.full_name }}</p>
        <div class="card-columns">
            {% for review in reviews %}
            <div class="card">
                <div class="card-header">                    
                    <img class="card-img-left" 
                        src="/djangoapp/media/emoji/{{review.sentiment.sentiment.document.label}}.png" 
                        alt="{{ review.car_make }}, {{ review.car_model }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title"> {{ review.car_make }} , {{ review.car_model }}</h5>
                    <h6> {{ review.purchase_date }}</h6>
                    <p class="card-text">{{ review.review }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ review.name }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}        
        
        </div>
    </div>
</body>
</html>